.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ////////////////////////FORM & BUTTON///////////////////// */

form {
  flex: 1;
  margin: 10px 40px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #323232;
}




input {
  display: block;
  padding: 10px;
  margin: 10px 0 10px -10px;
  width: 100%;
  height: 90%;
  border: 1px solid #323232;
  overflow: auto;
}


.FormButton {
  display: inline-block;
  width: 100px;
  height: 40px;
  border: 1px solid #323232;
  border-radius: 3px;
  color: black;
  background-color: #fafafa;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
  margin: 20px 0;
}

.FormButton:hover {
  color: #fafafa;
  background-color: #323232;
}


/* ////////////////////////MEME CONTAINER///////////////////// */
.MemeContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 315px);
  grid-gap: 10px 0;
  justify-content: center;
  margin: 40px 20px;
}

/* ////////////////////////MEMES///////////////////// */

.Meme {
  position: relative;
  text-align: center;
}

.MemeImage {
  width: 300px;
  height: auto;
  max-width: 300px;
  max-height: auto;
}

.MemeTopText {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
  margin: 10px 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  color: #fafafa;
  -webkit-text-stroke: 1px #323232;
}

.MemeBottomText {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 280px;
  margin: 10px 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-align: center;
  color: #fafafa;
  -webkit-text-stroke: 1px #323232;
}

.MemeButton {
  display: inline-block;
  width: 100px;
  height: 40px;
  border: 1px solid #323232;
  border-radius: 3px;
  color: black;
  background-color: #fafafa;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 500;
  font-size: 15px;
}

.MemeButton:hover {
  color: #fafafa;
  background-color: #323232;
}

.main {
  position: relative;
  text-align: center;
}

